@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.characterDetails {
    @include details_styles();
}

.characterDetails img {
    width: 320px;
    border-radius: 50%;    
}

.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.characterInfo {
    @include info_styles();
}

@media (max-width: 1000px) {
    .characterInfo {
        @include info_styles_1000px();
    }
}

@media (max-width: 600px) {
    .characterInfo {
        @include info_styles_600px();
    }
}

.characterInfo a {
    color: white;
    cursor: pointer;
}

.characterInfo a:hover {    
    color: $green;
    transition: 0.2s;
}