.error {
    height: inherit;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.error h2 {
    width: fit-content;
}

.errorImg {
    width: 200px;
}