@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';



.charactersList {
    @include list_styles();
}

@media (max-width: 1200px) {
    .charactersList {
        @include list_styles_1200px();
    }
}

@media (max-width: 1000px) {
    .charactersList {
        @include list_styles_1000px();
    }
}

@media (max-width: 600px) {
    .charactersList {
        @include list_styles_600px();
    }
}

.characterCard {
    background-color: rgb(69, 69, 69);
    width: 250px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    z-index: 3;
    transition: 0.2s;
    text-shadow: 1px 1px 2px black;    
}

.characterCard:hover {
    transform: scale(1.08);
    transition: 0.2s;
}

.characterCard img {
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.characterDescription {
    z-index: 3;
    position: absolute;
    background: rgb(69, 69, 69, 0);
    width: 225px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: 0.2s;
    text-shadow: 1px solid black;
    text-overflow: clip;
}

.characterDescription:hover {
    justify-content: center;
    background: rgb(69, 69, 69, 0.5);
    transform: scale(1.1);
    transition: 0.3s;
    text-overflow: clip;
}

.characterName,
.characterSpecie {
    margin: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.characterName {
    font-weight: 600;
    font-size: 18px;
}

.characterCard p {
    width: 100%;
}