@import '../../scss/variables.scss';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.charactersList {
    width: 100%;
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}

.charactersList img {
    width: 200px;
}

.characterCard {
    background-color: rgb(69, 69, 69);
    width: 200px;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
    color: white;
}

.characterCard p {
    width: 100%;
}