@import '../../scss/variables.scss';


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
}

.charactersList {
    width: 100%;
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
}


.characterCard {
    background-color: rgb(69, 69, 69);
    width: 200px;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    text-align: center;    
    color: white;
    overflow: hidden;
}

.characterCard img {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.characterName, .characterSpecie {
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.characterName {
    font-weight: 600;
    font-size: 18px;
}

.characterCard p {
    width: 100%;
}