@import '../../scss/mixins.scss';

.episodesList {
    @include list_styles();
}

.episodeCard {
    @include card_styles();
}

.episodeCard:hover {
    transform: scale(1.08);
    transition: 0.2s;
}

.episodeCard img {
    width: 100px;
}