@import '../../scss/mixins.scss';

.episodesList {
    @include list_styles();
}

@media (max-width: 1200px) {
    .episodesList {
        @include list_styles_1200px();
    }
}

@media (max-width: 1000px) {
    .episodesList {
        @include list_styles_1000px();
    }
}

@media (max-width: 600px) {
    .episodesList {
        @include list_styles_600px();
    }
}

.episodeCard {
    @include card_styles();
}

.episodeCard:hover {
    transform: scale(1.08);
    transition: 0.2s;
}

.episodeCard img {
    width: 100px;
}