@import '../../scss/mixins.scss';

.locationDetails {
    @include details_styles();}

.locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
}