@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';


.navbar {
    width: 100%;
    height: fit-content;
    background-color: black;
    display: flex;
    align-content: center;
}

.navbarContainer {
    @include navbar_container_styles();
}

@media (max-width: 1200px) {
    .navbarContainer {
        @include navbar_container_styles_1200px();
    }
}

@media (max-width: 400px) {
    .navbarContainer {
        @include navbar_container_styles_400px();
    }
}

.navbarLogo {
    width: 200px;
    cursor: pointer;
}

.navbarButton {
    @include navbar_buttons_styles();
}

@media (max-width: 500px) {
    .navbarButtons {
        @include navbar_buttons_styles_500px();
    }
}