@import '../../scss/variables.scss';

.pagingContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.paging {
    color: white;    
    display: flex;
    width: 200px;    
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;         
}

.paging button {
    color: white;
    background-color: rgb(69, 69, 69);
    border: 0;
    padding: 10px;
    border-radius: 5px;    
}

.paging a, .paging button {
    cursor: pointer;
    font-weight: 700;
}

.paging button:hover {
    color: $green;
    transition: 0.3s;
    background: rgb(60, 60, 60);
}

.page:hover {
    color: $green;
    transition: 0.3s;
}

.pageActive {
    color: $green;
}