@mixin list_styles() {
    width: 100%;
    height: fit-content;    
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;    
    padding: 20px;
    margin-bottom: 50px;
}

@mixin list_styles_1200px() {
    width: 100%;
    height: fit-content;    
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;    
    padding: 20px;
}

@mixin list_styles_1000px() {
    width: 100%;
    height: fit-content;    
    display: grid;
    gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;    
    padding: 20px;
}

@mixin list_styles_600px() {
    width: 100%;
    height: fit-content;    
    display: grid;
    gap: 15px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;    
    padding: 20px;
}

@mixin card_styles() {
    background-color: rgb(69, 69, 69);
    width: 250px;
    height: 250px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    overflow: hidden;
    font-size: 25px;
    transition: 0.2s;
    z-index: 3;
    padding: 5px;
}

@mixin details_styles() {
    width: 100%;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

@mixin info_styles() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

@mixin info_styles_1000px() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

@mixin info_styles_600px() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@mixin navbar_container_styles() {
    min-height: 115px;
    width: calc(100% - 50px);
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

@mixin navbar_container_styles_1200px() {
    width: calc(100% - 50px);
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-content: center; 
}

@mixin navbar_container_styles_400px() {
    width: calc(100% - 10px);
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-content: center; 
}

@mixin navbar_buttons_styles() {
    border: 0;
    background: none;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    color: white;
    margin-right: 20px;   
    font-family: 'Work Sans', sans-serif; 
}

@mixin navbar_buttons_styles_500px() {
    border: 0;
    background: none;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    color: white;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    align-self: center;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}